<section id="posts">
    <div class="page-header">
        <h2>DevCom Examples</h2>
    </div>
    
    <div class="content">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            Knockout
          </a>
          <a href="@Url.Action("Index", "Knockout")" class="list-group-item">Observables</a>
          <a href="@Url.Action("Computed", "Knockout")" class="list-group-item">Computed</a>
          <a href="@Url.Action("Subscriptions", "Knockout")" class="list-group-item">Subscriptions</a>
          <a href="@Url.Action("Index", "Post")" class="list-group-item">Posts</a>
        </div>
    </div>
</section>