<section id="posts">
    <div class="page-header">
        <h2>Posts</h2>
    </div>
    
    <div data-bind="with: list">
        <button class="btn btn-large btn-primary" type="button" data-bind="click: create">Create</button>
        <hr />
        <div data-bind="visible: loading"><i class="icon-spinner icon-spin"></i></div>
        <div class="list-group" data-bind="visible: !loading(), foreach: posts">
            <a href="#" class="list-group-item" data-bind="click: $parent.details">
                <h4 class="list-group-item-heading" data-bind="text: author"></h4>
                <p class="list-group-item-text" data-bind="text: content"></p>
            </a>
        </div>
    </div>
    
    <div data-bind="with: create">
        @this.Html.Partial("Create")
    </div>
    <div data-bind="with: details">
        @this.Html.Partial("Details")
    </div>
</section>

@{
    using (this.Html.BeginScriptContext())
    {
        this.Html.AddScriptFile("~/js/mylibs/plugins/viewmodels/posts/index.viewmodel.js");
    }
}